- if Workarea::Yotpo.app_key.present?
  %script{ type: "text/javascript" }
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/#{Workarea::Yotpo.app_key}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
