- if Workarea::Yotpo.app_key.present? && Workarea.config.yotpo.show_review_summary_on_product_summary
  .yotpo.bottomLine{"data-product-id" => "#{product.id}", "data-url" => "#{product_url(product)}"}
